<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PTMB_Signature.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="SubSystem_Sign" connectionString="&#xD;&#xA;    Data Source=192.168.1.169\DESKTOP-UTIEK5D,1433;&#xD;&#xA;    Initial Catalog=Signature; &#xD;&#xA;    User ID = 1Grts4zvjKtu4pFP2mYWACSrSIG/NQawUXEaC4J+aIA= ;&#xD;&#xA;    Password=EIaA0gs6+T5+cSVlGut4QG+CTg+atMWO3+o0UUt/pB0=;&#xD;&#xA;    Integrated Security=false" />
    <add name="MainSystem" connectionString="&#xD;&#xA;    Data Source=192.168.1.115,55888\SQLEXPRESS;&#xD;&#xA;    Initial Catalog=HousePricePredit; &#xD;&#xA;    User ID = 1Grts4zvjKtu4pFP2mYWACSrSIG/NQawUXEaC4J+aIA= ;&#xD;&#xA;    Password=wd9JWFqbX759G2MgsVochA52TaZHWHQNo1YgvIvQj9g=;&#xD;&#xA;    Integrated Security=false" />
    <add name="Formal_MainSystem" connectionString="&#xD;&#xA;    Data Source=192.168.1.25,55888\SQLEXPRESS;&#xD;&#xA;    Initial Catalog=Signature; &#xD;&#xA;    User ID = oVlHnimWv5mDFTUOpkA0EZrbM2DymmRGX1xbfd1kHOs= ;&#xD;&#xA;    Password=wd9JWFqbX759G2MgsVochA52TaZHWHQNo1YgvIvQj9g=;&#xD;&#xA;    Integrated Security=false" />
	<add name="ScorecardEF" connectionString="metadata=res://*/ScorecardEF.csdl|res://*/ScorecardEF.ssdl|res://*/ScorecardEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;Persist Security Info=true;data source=192.168.1.25,55888;initial catalog=Scorecard;User ID=andychen;Password=!QAZ2wsx#EDC;;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	<add name="MailDB" connectionString="&#xD;&#xA;    Data Source=192.168.1.25,55888\SQLEXPRESS;&#xD;&#xA;    Initial Catalog=Signature; &#xD;&#xA;    User ID = oVlHnimWv5mDFTUOpkA0EZrbM2DymmRGX1xbfd1kHOs= ;&#xD;&#xA;    Password=wd9JWFqbX759G2MgsVochA52TaZHWHQNo1YgvIvQj9g=;&#xD;&#xA;    Integrated Security=false" />

  </connectionStrings>

	<appSettings>
    <add key="Mode" value="SignSystem"></add>
    <add key="Versioin" value="PSRDYC_V1.15.0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <PTMB_Signature.Properties.Settings>
      <setting name="Account" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="Token" serializeAs="String">
        <value />
      </setting>
    </PTMB_Signature.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>